.item_list1, .item_list2 {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: bold;
}

.item_list2_cover {
    display: none;
}

.item {
    width: calc((100% - (10px*3)) / 4);
    box-sizing: border-box;
    margin-bottom: 50px;
    cursor: pointer;
}

.item>img {
    width: 100%;
}

.btn_showMore {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
